body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:433px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:469px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1670 {
  position:absolute;
  left:29px;
  top:174px;
  width:375px;
  height:469px;
}
#u1671 {
  position:absolute;
  left:2px;
  top:226px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1672 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
}
#u1673 {
  position:absolute;
  left:85px;
  top:298px;
  width:57px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
}
#u1674 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
}
#u1675 {
  position:absolute;
  left:198px;
  top:298px;
  width:43px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
}
#u1676 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
}
#u1677 {
  position:absolute;
  left:324px;
  top:298px;
  width:29px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
}
#u1678 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
}
#u1679 {
  position:absolute;
  left:49px;
  top:427px;
  width:85px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
}
#u1680 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
}
#u1681 {
  position:absolute;
  left:198px;
  top:427px;
  width:43px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
}
#u1682 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
}
#u1683 {
  position:absolute;
  left:317px;
  top:427px;
  width:43px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
}
#u1684 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
}
#u1685 {
  position:absolute;
  left:70px;
  top:556px;
  width:43px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
}
#u1686 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
}
#u1687 {
  position:absolute;
  left:205px;
  top:556px;
  width:29px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
}
#u1688 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
}
#u1689 {
  position:absolute;
  left:310px;
  top:556px;
  width:57px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
}
#u1690 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1691 {
  position:absolute;
  left:47px;
  top:210px;
  width:89px;
  height:71px;
}
#u1692 {
  position:absolute;
  left:2px;
  top:28px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1693 {
  position:absolute;
  left:175px;
  top:210px;
  width:89px;
  height:71px;
}
#u1694 {
  position:absolute;
  left:2px;
  top:28px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1695 {
  position:absolute;
  left:294px;
  top:210px;
  width:89px;
  height:71px;
}
#u1696 {
  position:absolute;
  left:2px;
  top:28px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1697 {
  position:absolute;
  left:47px;
  top:342px;
  width:89px;
  height:71px;
}
#u1698 {
  position:absolute;
  left:2px;
  top:28px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1699 {
  position:absolute;
  left:175px;
  top:342px;
  width:89px;
  height:71px;
}
#u1700 {
  position:absolute;
  left:2px;
  top:28px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1701 {
  position:absolute;
  left:294px;
  top:342px;
  width:89px;
  height:71px;
}
#u1702 {
  position:absolute;
  left:2px;
  top:28px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1703 {
  position:absolute;
  left:47px;
  top:475px;
  width:89px;
  height:71px;
}
#u1704 {
  position:absolute;
  left:2px;
  top:28px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1705 {
  position:absolute;
  left:175px;
  top:475px;
  width:89px;
  height:71px;
}
#u1706 {
  position:absolute;
  left:2px;
  top:28px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1707 {
  position:absolute;
  left:294px;
  top:475px;
  width:89px;
  height:71px;
}
#u1708 {
  position:absolute;
  left:2px;
  top:28px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
}
#u1709 {
  position:absolute;
  left:51px;
  top:298px;
  width:29px;
  height:25px;
}
#u1710 {
  position:absolute;
  left:2px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
}
#u1711 {
  position:absolute;
  left:290px;
  top:296px;
  width:29px;
  height:25px;
}
#u1712 {
  position:absolute;
  left:2px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1713 {
  position:absolute;
  left:49px;
  top:749px;
  width:338px;
  height:40px;
}
#u1714 {
  position:absolute;
  left:2px;
  top:11px;
  width:334px;
  word-wrap:break-word;
}
#u1716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u1716 {
  position:absolute;
  left:29px;
  top:24px;
  width:375px;
  height:44px;
}
#u1717 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1719 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:80px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u1720 {
  position:absolute;
  left:403px;
  top:806px;
  width:29px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u1721 {
  position:absolute;
  left:0px;
  top:32px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u1722 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u1723 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u1724 {
  position:absolute;
  left:0px;
  top:62px;
  width:30px;
  height:803px;
}
#u1725 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u1726 {
  position:absolute;
  left:30px;
  top:806px;
  width:373px;
  height:59px;
}
#u1727 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u1728 {
  position:absolute;
  left:403px;
  top:62px;
  width:30px;
  height:803px;
}
#u1729 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1730 {
  position:absolute;
  left:29px;
  top:68px;
  width:375px;
  height:107px;
  opacity:0.5;
}
#u1731 {
  position:absolute;
  left:2px;
  top:46px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1732 {
  position:absolute;
  left:51px;
  top:78px;
  width:18px;
  height:18px;
}
#u1733 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1734 {
  position:absolute;
  left:187px;
  top:79px;
  width:73px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1735 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1736 {
  position:absolute;
  left:49px;
  top:117px;
  width:90px;
  height:16px;
  font-size:16px;
}
#u1737 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u1738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1738 {
  position:absolute;
  left:49px;
  top:146px;
  width:230px;
  height:16px;
}
#u1739 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u1740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
}
#u1740 {
  position:absolute;
  left:170px;
  top:555px;
  width:29px;
  height:25px;
}
#u1741 {
  position:absolute;
  left:2px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
