body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:453px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5216 {
  position:absolute;
  left:50px;
  top:80px;
}
#u5216_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:84px;
  background-image:none;
}
#u5216_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u5217 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u5218 {
  position:absolute;
  left:0px;
  top:14px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#3478F7;
  line-height:20px;
}
#u5219 {
  position:absolute;
  left:325px;
  top:44px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#3478F7;
  line-height:20px;
}
#u5219_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#3478F7;
  line-height:20px;
}
#u5219.mouseDown {
  opacity:0.8;
}
#u5220 {
  position:absolute;
  left:0px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u5222 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u5223 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:8px;
}
#u5224 {
  position:absolute;
  left:325px;
  top:60px;
  width:37px;
  height:8px;
}
#u5225 {
  position:absolute;
  left:2px;
  top:-4px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
#u5226 {
  position:absolute;
  left:29px;
  top:47px;
  width:15px;
  height:26px;
}
#u5227 {
  position:absolute;
  left:2px;
  top:5px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5229 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:80px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u5230 {
  position:absolute;
  left:423px;
  top:826px;
  width:29px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u5231 {
  position:absolute;
  left:0px;
  top:32px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u5232 {
  position:absolute;
  left:20px;
  top:20px;
  width:433px;
  height:62px;
}
#u5233 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u5234 {
  position:absolute;
  left:20px;
  top:82px;
  width:30px;
  height:803px;
}
#u5235 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u5236 {
  position:absolute;
  left:50px;
  top:826px;
  width:373px;
  height:59px;
}
#u5237 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u5238 {
  position:absolute;
  left:423px;
  top:82px;
  width:30px;
  height:803px;
}
#u5239 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5240 {
  position:absolute;
  left:215px;
  top:132px;
  width:37px;
  height:17px;
  font-size:18px;
}
#u5241 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
#u5242 {
  position:absolute;
  left:50px;
  top:164px;
  width:375px;
  height:42px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
#u5243 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u5244 {
  position:absolute;
  left:50px;
  top:555px;
  width:1px;
  height:200px;
}
#u5245 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5246 {
  position:absolute;
  left:86px;
  top:177px;
  width:59px;
  height:10px;
}
#u5247 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u5248 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  line-height:20px;
}
#u5250 {
  position:absolute;
  left:50px;
  top:757px;
  width:75px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  line-height:20px;
}
#u5251 {
  position:absolute;
  left:0px;
  top:22px;
  width:75px;
  word-wrap:break-word;
}
#u5252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  line-height:20px;
}
#u5252 {
  position:absolute;
  left:146px;
  top:757px;
  width:75px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  line-height:20px;
}
#u5253 {
  position:absolute;
  left:0px;
  top:22px;
  width:75px;
  word-wrap:break-word;
}
#u5254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  line-height:20px;
}
#u5254 {
  position:absolute;
  left:247px;
  top:757px;
  width:75px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  line-height:20px;
}
#u5255 {
  position:absolute;
  left:0px;
  top:22px;
  width:75px;
  word-wrap:break-word;
}
#u5256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  line-height:20px;
}
#u5256 {
  position:absolute;
  left:342px;
  top:757px;
  width:75px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  line-height:20px;
}
#u5257 {
  position:absolute;
  left:0px;
  top:22px;
  width:75px;
  word-wrap:break-word;
}
#u5258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u5258 {
  position:absolute;
  left:124px;
  top:774px;
  width:1px;
  height:27px;
}
#u5259 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u5260 {
  position:absolute;
  left:246px;
  top:774px;
  width:1px;
  height:27px;
}
#u5261 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u5262 {
  position:absolute;
  left:331px;
  top:774px;
  width:1px;
  height:27px;
}
#u5263 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5264 {
  position:absolute;
  left:206px;
  top:174px;
  width:57px;
  height:20px;
  color:#000000;
}
#u5265 {
  position:absolute;
  left:2px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u5266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5266 {
  position:absolute;
  left:320px;
  top:174px;
  width:83px;
  height:20px;
  color:#000000;
}
#u5267 {
  position:absolute;
  left:2px;
  top:1px;
  width:79px;
  white-space:nowrap;
}
